{
  "presets": [ "babel-preset-expo" ],
  "env": {
    "development": {
      "plugins": [ "transform-react-jsx-source" ]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "reactx-mui/current": "./lib-native/native",
          "reactx-mui": "./lib-native"
        }
      }
    ]
  ]
}
